[defaults]
host_key_checking = False
inventory = inventory
retry_files_enabled = False
interpreter_python = /opt/venv/bin/python3

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false